* {
    box-sizing: border-box;
    text-align: center;
    list-style: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #1e1e1e;
    padding: 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin: 0;
}

.nav-link {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1pt;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.nav-link:active {
    background-color: #333333;
}

.current{
    color:#e8491d;
    font-weight:bold;
    background-color: #0E1ED3;
}



footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

.profile-photo{
    object-fit: contain;
    height: auto;
    width: 100px;
    border-radius: 50%;
    justify-content: center;
}
